[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
gunicorn = "*"
flask-admin = "*"
cloudinary = "*"
flask-swagger = "*"
flask-cors = "*"
flask-script = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start="flask run -p 5001 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
local="heroku local"
upgrade="flask db upgrade"
reset_db="bash ./docs/assets/reset_migrations.bash"
